edgegpt 
SpeechRecognition
click
gtts
botocore
jmespath 
prompt-toolkit
pygments
requests
rich
s3transfer 
urllib3
git+https://github.com/openai/whisper.git
ffmpeg
regex
tiktoken
js2py
pipwin
pySmartDL
pyjsparser 
pyprind
pyaudio
configparser
certifi
charset-normalizer
idna
requests
urllib3
numpy
pydub
argparse 
sentencepiece